/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{

}

.playground{
  width:700px;
  height:450px;
  background-color: black;
  margin:50px;
  /*display: ;*/
}
.enemies{
  display: fixed;
}

.player{

}
